body{
    font-size: 16px;
    color: #fff;
    background-color: #557;
    font-family: 'Farsan', sans-serif;
}
/**header**/
#header-nav{
    background-color: darksalmon;;
    border-radius: 0;
    border: 0;

}
.navbar-brand{
    padding-top: 25px;
    
}
.navbar-brand h1{
    
    font-family: 'Lobster', sans-serif;
    color: #557;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: -10px;
    margin-bottom: 0;
    line-height: .75;
    letter-spacing: .1em;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

#nav-list{
    background-color: indianred;
    margin-top: -5px;
    
}
#nav-list a{
    color: #fff;
    font-size: 1.4em;
    text-align: center;
}
#nav-list a:hover{
    background-color: darkseagreen;
    border: 1px solid lightseagreen;
}
/**header END**/
                                               

#page-title{
    font-family: 'Arima Madurai',sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 10px;
}

/**main-content**/
#menu-item{
    background-color: teal;
}
.menu-item-title{
    font-size: 1.6em;
}
.menu-item-details{
    font-size: 1.2em;
}

#main-content{
    padding-left: 30px;
    padding-right: 5px;
    margin-bottom: 15px;
    
}

@media (max-width:768px){
    #header-nav{
        height: 70px;
    }
    .navbar-brand h1{
        font-size: 2.1em;
    }
    #page-title{
        font-size: 1.9em; 
        display: block;

    } 


    #main-content{
        padding-left: 8vh;
        padding-right: 4vh;
        margin-bottom: 30px;
    }
   


}

